@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body,
html,
#content {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background: url('./assets/background.jpg') no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

#container {
  width: 60%;
  height: 70%;
  min-width: 300px;
  min-height: 600px;
  max-width: 1200px;
  max-height: 1000px;
  background-color: rgba(58, 67, 75, 0.65);
  backdrop-filter: blur(5px);
  margin: auto;
  margin-top: 8%;
  color: white;
}

#container hr {
  color: white;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.subheading {
  text-align: center;
}

.navBar {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 10 0;
  font-size: large;
  cursor: pointer;
}

.navBar li:hover {
  opacity: 0.8;
}
