body,
html,
#content {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background: url('./assets/background.jpg') no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-size: cover;
}

#container {
  width: 60%;
  height: 70%;
  min-width: 300px;
  min-height: 600px;
  max-width: 1200px;
  max-height: 1000px;
  background-color: rgba(58, 67, 75, 0.65);
  backdrop-filter: blur(5px);
  margin: auto;
  margin-top: 8%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
